$text-font: 'Lato', sans-serif;
$head-font: 'Spartan', sans-serif;
$blackish: #262322;
$purple: #252538;
$blue: #253042;
$pink: #AC80A0;
$whitish: #FFFAEA;

html, body, .grid-container { 
    height: 100%; 
    margin: 0; 
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1.8fr 0.2fr;
    grid-template-areas: ". ." ". .";
}

.grid-container * { 
    border: 1px solid $whitish;
    position: relative;
}

.room-panel {
    background-color: $purple;
}

.chat-panel {
    background-color: $blue;
}

.room-form {
    background-color: $purple;
}

.chat-form {
    background-color: $blue;
}

.chat-wrapper {
    width: 100%;
}
  
.message-text {
    resize: none;
    box-sizing: border-box;
    height: auto;
    min-height: 41px;
    max-height: 97px;
    width: 387px;
    border: 1px solid #e4e7ec;
    border-radius: 20px;
    background-color: #f9fafb;
    outline: none;
    padding: 0 24px 0 24px;
    overflow: hidden;
}