body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

html, body, .grid-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 18fr;
      grid-template-rows: 2fr 18fr;
      grid-template-areas: "header" "panel-wrapper";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #4F4F6B;
}

.panel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: 100%;
  width: 100%;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  width: 100%;
}

.room-panel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: panel-wrapper;
  background-color: #252538;
  border: 1px solid #262322;
  height: 100%;
  -webkit-box-flex: 0.001;
      -ms-flex-positive: 0.001;
          flex-grow: 0.001;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-transition: all 1.25s;
  transition: all 1.25s;
}

.panel-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #939188;
  height: 100%;
  width: 4%;
}

.panel-open {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.chat-panel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: panel-wrapper;
  background-color: #253042;
  border: 1px solid #262322;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18fr 4fr;
      grid-template-rows: 18fr 4fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "chat" "form";
}

.chat {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
}

.chat-form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
  background-color: #252538;
  border: 1px solid #262322;
  height: 100%;
  width: 100%;
}

.chat-wrapper {
  width: 100%;
  height: 100%;
  padding: 6px 6px 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
}

.message-text {
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  min-height: 41px;
  max-height: 97px;
  width: 80%;
  border-radius: 20px;
  border-color: #262322;
  background-color: #FFFAEA;
  outline: none;
  padding: 0 24px 0 24px;
  overflow: auto;
  font-size: 1.25em;
  font-family: "Lato", sans-serif;
}

#submit-message {
  height: auto;
  min-height: 41px;
  max-height: 97px;
  width: 18%;
  border-radius: 20px;
  border-color: black;
  background-color: #4F4F6B;
  font-family: "Spartan", sans-serif;
  font-size: 1.35em;
  color: #FFFAEA;
}
/*# sourceMappingURL=style.css.map */