$text-font: 'Lato', sans-serif;
$head-font: 'Spartan', sans-serif;
$black: #262322;
$purple: #252538;
$blue: #253042;
$darkgrey: #2B2B3A;
$white: #D8D8D8;
$lightgrey: #939188;
$grey: #3F3F3F;

body {
    font-family: $text-font;
    overflow: hidden;
}

html, body, .grid-container { 
    height: 100vh;
    width: 100vw;
    margin: 0; 
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: 2fr 18fr;
    grid-template-areas: "header" "panel-wrapper"; 
}

.header {
    grid-area: header;
    background-color: $darkgrey;
}

.panel-wrapper{
    display: flex;
    flex: row;
    flex-basis: auto;
    height: 100%;
    width: 100%;
}

.form-wrapper{
    display: flex;
    flex: row;
    width: 100%;
}

.room-panel {
    grid-area: panel-wrapper;
    background-color: $purple;
    border: 1px solid $black;
    height: 100%;
    flex-grow: 0.001;
    flex-basis: auto;
    transition: all 1.25s;
}

.panel-button {
    align-self: flex-end;
    background-color: $lightgrey;
    height: 100%;
    width: 4%;
}

.panel-open {
    flex-grow: 6;
}

.chat-panel {
    grid-area: panel-wrapper;
    background-color: $blue;
    border: 1px solid $black;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 18fr 3fr;
    grid-template-columns: 1fr;
    grid-template-areas: "chat" "form"; 
}

.chat-text-wrapper{
    grid-area: chat;
}
.chat-form {
    grid-area: form;
    background-color: $purple;
    border: 1px solid $black;
    height: 100%;
    width: 100%;
}

.chat-wrapper {
    width: 100%;
    height: 80%;
    padding: 6px 6px 6px 6px;
    display: flex;
    flex: row;
}
  
.message-text {
    resize: none;
    height: auto;
    width: 80%;
    border-color: $black;
    background-color: $grey;
    outline: none;
    padding: 0 24px 0 24px;
    overflow: auto;
    color: $white;
    font-size: 1.25em;
    font-family: $text-font;
}

#submit-message{
    height: auto;
    width: 18%;
    border-color: $black;
    background-color: $darkgrey;
    font-family: $head-font;
    font-size: 2em;
    color: $white;
}

