body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

html, body, .grid-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 18fr;
      grid-template-rows: 2fr 18fr;
      grid-template-areas: "header" "panel-wrapper";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #2B2B3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-text {
  font-family: "Spartan", sans-serif;
  font-size: 3em;
  color: #D8D8D8;
  padding-left: 0.15em;
}

.name-wrapper {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #939188;
}

.create-name-wrapper {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #939188;
  padding: 6px 0px 6px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
}

#submit-name {
  height: auto;
  width: 3em;
  padding-right: 2%;
  border-color: #262322;
  background-color: #2B2B3A;
  font-family: "Spartan", sans-serif;
  font-size: 2em;
  color: #D8D8D8;
}

.panel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: 100%;
  width: 100%;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  width: 100%;
}

.room-panel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: panel-wrapper;
  background-color: #252538;
  border: 1px solid #262322;
  height: 100%;
  -webkit-box-flex: 0.001;
      -ms-flex-positive: 0.001;
          flex-grow: 0.001;
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
  -webkit-transition: all 1.25s;
  transition: all 1.25s;
  min-width: 0;
}

.create-room-wrapper {
  background-color: #253042;
  width: 100%;
  height: 7%;
  padding: 6px 6px 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
}

.create-room {
  resize: none;
  height: auto;
  border-color: #262322;
  background-color: #939188;
  outline: none;
  overflow: hidden;
  color: #262322;
  font-size: 1.25em;
  font-family: "Lato", sans-serif;
}

#submit-room {
  height: auto;
  width: 10%;
  padding-right: 2%;
  border-color: #262322;
  background-color: #2B2B3A;
  font-family: "Spartan", sans-serif;
  font-size: 2em;
  color: #D8D8D8;
}

.panel-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #939188;
  height: 100%;
  width: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Spartan", sans-serif;
  color: #3F3F3F;
  font-size: 3em;
}

.panel-open {
  -webkit-box-flex: 100 !important;
      -ms-flex-positive: 100 !important;
          flex-grow: 100 !important;
  width: 100%;
}

.hidden {
  display: none;
}

.chat-panel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: panel-wrapper;
  background-color: #253042;
  border: 1px solid #262322;
  height: 100%;
  -webkit-box-flex: 0.001;
      -ms-flex-positive: 0.001;
          flex-grow: 0.001;
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18fr 3fr;
      grid-template-rows: 18fr 3fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "chat" "form";
  -webkit-transition: all 1.25s;
  transition: all 1.25s;
  min-width: 0;
}

.chat-text-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: chat;
}

.chat-form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
  background-color: #252538;
  border: 1px solid #262322;
  height: 100%;
  width: 100%;
}

.chat-wrapper {
  width: 100%;
  height: 80%;
  padding: 6px 6px 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
}

.message-text {
  resize: none;
  height: auto;
  width: 80%;
  border-color: #262322;
  background-color: #3F3F3F;
  outline: none;
  padding: 0 12px 0 12px;
  overflow: auto;
  color: #D8D8D8;
  font-size: 1.25em;
  font-family: "Lato", sans-serif;
}

#submit-message {
  height: auto;
  width: 18%;
  border-color: #262322;
  background-color: #2B2B3A;
  font-family: "Spartan", sans-serif;
  font-size: 2em;
  color: #D8D8D8;
}
/*# sourceMappingURL=style.css.map */