$text-font: 'Lato', sans-serif;
$head-font: 'Spartan', sans-serif;
$black: #262322;
$purple: #252538;
$blue: #253042;
$light-blue: #4F4F6B;
$white: #FFFAEA;

body {
    font-family: $text-font;
}

html, body, .grid-container { 
    height: 100%; 
    margin: 0; 
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1.8fr 0.2fr;
    grid-template-areas: ". ." ". .";
}

.grid-container * {
    position: relative;
}

.room-panel {
    background-color: $purple;
    border: 1px solid $white;
}

.chat-panel {
    background-color: $blue;
    border: 1px solid $white;
}

.room-form {
    background-color: $purple;
    border: 1px solid $white;
}

.chat-form {
    background-color: $blue;
    border: 1px solid $white;
}

.chat-wrapper {
    width: 100%;
    padding: 6px 6px 6px 6px;
    display: flex;
    flex: row;
}
  
.message-text {
    resize: none;
    box-sizing: border-box;
    height: auto;
    min-height: 41px;
    max-height: 97px;
    width: 80%;
    border-radius: 20px;
    background-color: $white;
    outline: none;
    padding: 0 24px 0 24px;
    overflow: auto;
    font-size: 1.25em;
    font-family: $text-font;
}

#submit-message{
    height: auto;
    min-height: 41px;
    max-height: 97px;
    width: 18%;
    border-radius: 20px;
    background-color: $light-blue;
    font-family: $head-font;
    font-size: 1.35em;
    color: $white;
}
