<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="/static/style.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Lato|Spartan:400i&display=swap" rel="stylesheet">

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="/static/index.js" defer></script>

        <title>Message!</title>

    </head>

    <body>
        <div class="grid-container">
            <div class="header">
                <div class="header-text">
                    <span>Message!</span>
                </div>
                {% if username %}
                <div class="name-wrapper">
                    <span>Current Name: </span>
                    <span id="current-name">{{ username }}</span>
                </div>
                {% else %}
                <div class="create-name-wrapper">
                    <div id="name-form">
                        <label for="create-name">Create Name:</label>
                        <input type="text" class="create-room" id ="create-name" name="username" cols="25" rows="1" maxlength="25"></input>
                        <button id="submit-name" onclick="submitUsername();">Submit</button>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="panel-wrapper">
                <div class="room-panel panel-open">
                    <div class="create-room-wrapper">
                        <textarea class="create-room" id="create-room" placeholder="Create new room name." cols="25" rows="1" maxlength="25"></textarea>
                        <button id="submit-room">⮠</button>
                    </div>
                    <div class="rooms-wrapper">

                    </div>
                </div>
                <div class="panel-button">
                    <span id="panel-arrow"><</span>
                </div>
                <div class="chat-panel">
                    <div class="chat-text-wrapper">

                    </div>
                    <div class="chat-form">
                        <div class="chat-wrapper">
                            <textarea class="message-text" id="message-text" placeholder="Please choose a username." cols="30" rows="2"></textarea>
                            <button id="submit-message">⮠</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>